* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #222222;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo__header {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 34%;
    height: 100%;
    display: flex;
    justify-self: start;
    align-self: center;
}

.search__header {
    width: 26%;
    height: 80%;
    flex-shrink: 0;
    padding-left: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-self: start;
    align-self: center;
}

.icon_menu__header {
    width: 32%;
    height: 100%;
    grid-column-end: -3;
    display: flex;
    justify-self: end;
    align-self: center;
}

.icon_character__header {
    width: 32%;
    height: 100%;
    grid-column-end: -2;
    display: flex;
    justify-self: end;
    align-self: center;
}

.icon_shop__header {
    width: 32%;
    height: 100%;
    grid-column-end: -1;
    display: flex;
    justify-self: end;
    align-self: center;
}

.title_hello {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 50% 5% 45%;
}

.photo__main {
    width: 100%;
    height: 100%;
}

.rectangle {
    display: flex;
    margin-left: 4%;
    margin-right: 1%;
    align-self: center;
}

.the_brand {
    display: flex;
    align-self: center;
}

.brand {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    grid-column-start: 2;
}

.luxerious {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sales {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 14% 1fr 1fr 1fr 14%;
    grid-template-rows: 260px 130px;
    gap: 1%;
}

.woman {
    grid-column-start: 2;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.woman .sales_for_woman {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}

.woman .text_image {
    position: absolute;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
}

.p_sales {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pink_text {
    text-align: center;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.man {
    grid-column-start: 3;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.man .sales_for_men {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}

.man .text_image {
    position: absolute;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
}

.kids {
    grid-column-start: 4;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.kids .sales_for_kids {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}

.kids .text_image {
    position: absolute;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
}

.accessories {
    padding-top: 3%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.accessories .sales_accessories {
    position: absolute;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}

.accessories .text_image {
    padding-top: 3%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
}

.title {
    margin-top: 5%;
    text-align: center;
}

.title h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title h2 {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop_grid {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 14% 1fr 1fr 1fr 14%;
    grid-template-rows: 3fr 1fr 3fr 1fr;
    gap: 2%;
    grid-row-gap: 0;
}

.shop_grid .shop_grid_img_1 {
    grid-column-start: 2;
}

.shop_grid .shop_grid_img_2 {
    background-color: #F7E4E2;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
}

.shop_grid .img_shop_2 {
    grid-column-start: 3;
    display: flex;
    padding-left: 30%;
    justify-self: center;
    align-self: center;
}

.add_to_cart {
    visibility: hidden;
}

.shop_grid .shop_grid_img_3 {
    grid-column-start: 4;
}

.shop_grid .shop_grid_text_1 {
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0 1% 2% 1%;
    background-color: #F8F8F8;
    position: relative;
}

.shop_grid .shop_grid_text_1 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
}

.shop_grid .shop_grid_text_1 h2 {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shop_grid .shop_grid_text_1 h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop_grid .shop_grid_text_2 {
    grid-row-start: 2;
    grid-column-start: 3;
    margin: 0 1% 2% 1%;
    background-color: #F8F8F8;
    position: relative;
}

.shop_grid .shop_grid_text_2 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
}

.shop_grid .shop_grid_text_2 h2 {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shop_grid .shop_grid_text_2 h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop_grid .shop_grid_text_3 {
    grid-row-start: 2;
    grid-column-start: 4;
    margin: 0 1% 2% 1%;
    background-color: #F8F8F8;
    position: relative;
}

.shop_grid .shop_grid_text_3 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
}

.shop_grid .shop_grid_text_3 h2 {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shop_grid .shop_grid_text_3 h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop_grid .shop_grid_img_4 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: 5%;
}

.shop_grid .shop_grid_img_5 {
    grid-column-start: 3;
    grid-row-start: 3;
    margin-top: 5%;
}

.shop_grid .shop_grid_img_6 {
    grid-column-start: 4;
    grid-row-start: 3;
    margin-top: 5%;
}

.shop_grid .shop_grid_text_4 {
    grid-row-start: 4;
    grid-column-start: 2;
    margin: 0 1% 2% 1%;
    background-color: #F8F8F8;
    position: relative;
}

.shop_grid .shop_grid_text_4 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
}

.shop_grid .shop_grid_text_4 h2 {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shop_grid .shop_grid_text_4 h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop_grid .shop_grid_text_5 {
    grid-row-start: 4;
    grid-column-start: 3;
    margin: 0 1% 2% 1%;
    background-color: #F8F8F8;
    position: relative;
}

.shop_grid .shop_grid_text_5 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
}

.shop_grid .shop_grid_text_5 h2 {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shop_grid .shop_grid_text_5 h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop_grid .shop_grid_text_6 {
    grid-row-start: 4;
    grid-column-start: 4;
    margin: 0 1% 2% 1%;
    background-color: #F8F8F8;
    position: relative;
}

.shop_grid .shop_grid_text_6 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
}

.shop_grid .shop_grid_text_6 h2 {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shop_grid .shop_grid_text_6 h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.view_all__footer {
    border-color: #FF6A6A;
    border: 1%;
    border-radius: 0;
    width: 212px;
    height: 48px;
    background-color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 6%;
    margin-left: 44%;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .header {
        background-color: #222222;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .logo__header {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 79%;
        height: 97%;
        flex-shrink: 0;
    }
    .search__header {
        width: 45%;
        height: 70%;
        display: flex;
        justify-self: end;
        align-self: center;
    }
    .icon_menu__header {
        width: 44%;
        height: 45%;
        grid-column-end: -3;
        display: flex;
        justify-self: end;
        align-self: center;
    }
    .icon_character__header {
        width: 40%;
        height: 57%;
        grid-column-end: -2;
        display: flex;
        justify-self: end;
        align-self: center;
    }
    .icon_shop__header {
        width: 40%;
        height: 57%;
        grid-column-end: -1;
        display: flex;
        justify-self: end;
        align-self: center;
        position: relative;
        padding-right: 15%;
    }
    .circle {
        width: 2%;
        height: 3%;
        background: #F16D7F;
        border-radius: 10px;
        position: absolute;
        grid-column-end: -1;
        display: flex;
        justify-self: end;
        align-self: start;
        margin-top: 0.5%;
        text-align: end;
        color: white;
        font-weight: 100%;
    }
    .title_hello {
        background-color: #F1E4E6;
        display: grid;
        grid-template-columns: 50% 10% 40%;
    }
    .photo__main {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
    }
    .rectangle {
        display: flex;
        margin-left: 4%;
        margin-right: 1%;
        align-self: center;
        justify-self: end;
        grid-column: 2;
        width: 12.5%;
        height: 20.5%;
    }
    .the_brand {
        display: flex;
        align-self: center;
        justify-self: start;
        padding-left: 44px;
        grid-column-start: 3;
    }
    .brand {
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        grid-column-start: 2;
    }
    .luxerious {
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .fashion {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .sales {
        margin-top: 3%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150% 100%;
        gap: 1%;
    }
    .woman {
        grid-column-start: 1;
        grid-row-start: 1;
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .woman .sales_for_woman {
        position: absolute;
        filter: brightness(40%);
        display: flex;
        justify-self: center;
        height: 100%;
        width: 98%;
    }
    .woman .text_image {
        position: absolute;
        text-align: center;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .p_sales {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .pink_text {
        text-align: center;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .man {
        grid-column-start: 2;
        grid-row-start: 1;
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .man .sales_for_men {
        position: absolute;
        filter: brightness(40%);
        display: flex;
        justify-self: center;
        height: 100%;
        width: 98%;
    }
    .man .text_image {
        position: relative;
        text-align: center;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .kids {
        grid-column-start: 3;
        grid-row-start: 1;
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .kids .sales_for_kids {
        position: absolute;
        filter: brightness(40%);
        display: flex;
        justify-self: center;
        height: 100%;
        width: 98%;
    }
    .kids .text_image {
        position: relative;
        text-align: center;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .accessories {
        margin-top: 2%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .accessories .sales_accessories {
        position: absolute;
        filter: brightness(40%);
        display: flex;
        justify-self: center;
        padding-left: 1%;
        width: 99%;
        height: 100%;
    }
    .accessories .text_image {
        position: relative;
        text-align: center;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .title {
        margin-top: 42%;
        text-align: center;
    }
    .title h1 {
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .title h2 {
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .shop_grid {
        margin: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 3fr 1fr);
        gap: 2%;
        grid-row-gap: 0;
    }
    .shop_grid .shop_grid_img_1 {
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    .shop_grid .shop_grid_img_1 img {
        width: 100%;
        margin: 0 1%;
    }
    .shop_grid .shop_grid_text_1 {
        grid-column-start: 1;
        grid-row-start: 2;
        margin: 0 1% 2% 1%;
        background-color: #F8F8F8;
        position: relative;
    }
    .shop_grid .shop_grid_text_1 h1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 2%;
    }
    .shop_grid .shop_grid_text_1 h2 {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shop_grid .shop_grid_text_1 h3 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .shop_grid .shop_grid_img_2 {
        background-color: #3A3838;
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .shop_grid .img_shop_2 {
        padding-left: 0;
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        justify-self: center;
        align-self: center;
        filter: brightness(25%);
    }
    .add_to_cart {
        visibility: visible;
        position: absolute;
        display: flex;
        justify-self: center;
        align-self: center;
        background-color: transparent;
        border-color: #FFFFFF;
        border-radius: 0;
        width: 30%;
        height: 8%;
    }
    .add_to_cart img {
        padding: 5%;
    }
    .add_to_cart span {
        color: #FFFFFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin: 5%;
        padding-top: 3%;
    }
    .shop_grid .shop_grid_text_2 {
        grid-column-start: 2;
        grid-row-start: 2;
        margin: 0 1% 2% 1%;
        background-color: #F8F8F8;
        position: relative;
    }
    .shop_grid .shop_grid_text_2 h1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 2%;
    }
    .shop_grid .shop_grid_text_2 h2 {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shop_grid .shop_grid_text_2 h3 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .shop_grid .shop_grid_img_3 {
        grid-column-start: 1;
        grid-row-start: 3;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    .shop_grid .shop_grid_img_3 img {
        width: 100%;
        margin: 0 1%;
    }
    .shop_grid .shop_grid_text_3 {
        grid-column-start: 1;
        grid-row-start: 4;
        margin: 0 1% 2% 1%;
        background-color: #F8F8F8;
        position: relative;
    }
    .sho .shop_grid .shop_grid_text_3 h1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 2%;
    }
    .shop_grid .shop_grid_text_3 h2 {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shop_grid .shop_grid_text_3 h3 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .shop_grid .shop_grid_img_4 {
        grid-column-start: 2;
        grid-row-start: 3;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    .shop_grid .shop_grid_img_4 img {
        width: 100%;
        margin: 0 1%;
    }
    .shop_grid .shop_grid_text_4 {
        grid-column-start: 2;
        grid-row-start: 4;
        margin: 0 1% 2% 1%;
        background-color: #F8F8F8;
        position: relative;
    }
    .shop_grid .shop_grid_text_4 h1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 2%;
    }
    .shop_grid .shop_grid_text_4 h2 {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shop_grid .shop_grid_text_4 h3 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .shop_grid .shop_grid_img_5 {
        grid-column-start: 1;
        grid-row-start: 5;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    .shop_grid .shop_grid_img_5 img {
        width: 100%;
        margin: 0 1%;
    }
    .shop_grid .shop_grid_text_5 {
        grid-column-start: 1;
        grid-row-start: 6;
        margin: 0 1% 2% 1%;
        background-color: #F8F8F8;
        position: relative;
    }
    .shop_grid .shop_grid_text_5 h1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 2%;
    }
    .shop_grid .shop_grid_text_5 h2 {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shop_grid .shop_grid_text_5 h3 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .shop_grid .shop_grid_img_6 {
        grid-column-start: 2;
        grid-row-start: 5;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    .shop_grid .shop_grid_img_6 img {
        width: 100%;
        margin: 0 1%;
    }
    .shop_grid .shop_grid_text_6 {
        grid-column-start: 2;
        grid-row-start: 6;
        margin: 0 1% 2% 1%;
        background-color: #F8F8F8;
        position: relative;
    }
    .shop_grid .shop_grid_text_6 h1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 2%;
    }
    .shop_grid .shop_grid_text_6 h2 {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shop_grid .shop_grid_text_6 h3 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .view_all__footer {
        border-color: #FF6A6A;
        border: 1%;
        border-radius: 0;
        width: 212px;
        height: 48px;
        background-color: #FFFFFF;
        margin: 2% 40% 5%;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}